/* stylelint-disable max-nesting-depth */
.app {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding: 0 20px;

  &__image {
    width: 150px;
  }

  &__container {
    margin-top: 10px;

    &--buttons {
      button:nth-child(odd) {
        margin-right: 10px;
      }
    }
  }
}
